<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Collabthings</title>
	
	<link href="https://fonts.googleapis.com/css?family=Duru Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./assets/css/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
</head>

<body>

	<div id="content">
		<div class="grid-container">
			<div class="item1 top">
				<center><h1>LOADING....</h2></center>
			</div>
		</div>
	</div>
	
	<script type="text/x-mustache" id="template">
	<div class="container-fluid">

			<ul class="nav nav-tabs">			
				<li class="nav-item dropdown">
				 	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Apps</a>
					<div class="dropdown-menu">
					{{#applist}}
						<a class="dropdown-item" href="{{launch}}" target="jokumuu">{{name}}</a>
					{{/applist}}
					</div>
				</li>
			</ul>

		<div class="row top">
			<div class="col-sm">
				<img class="logo-img" src="assets/imgs/logo.png">
				<div class="pagetitle"><h1>Collabthings</h1></div>
				<div id="userinfo">
					Your user id is {{userinfo.userid}} 
					Tell people about it :)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl main">			
				{{#userlist_empty}}
					<p>
						<a id="follow_jeukku" href="#" onclick="$.ajax('{{follow_jeukku}}')">Follow Jeukku (Juuso V) to get started?</a>
					</p>
				{{/userlist_empty}}
				
				{{#view_userpage}}
	
				<div id="users">
					USERS
					<ul>
					{{#userlist}}
						<li>
						User "{{name}}" : {{description}}
						</li>
					{{/userlist}}
					</ul>
				</div>
				{{/view_userpage}}
			</div>
		</div>
	
		<div class="item5">
			<a href="https://collabthings.org">Collabthings</a><br>
			Node {{versions.node}}
			nodeversion {{node_version}}
			Chromium {{chrome_version}}
			Electron {{electron_version}}.
		</div>
	</div>
	</script>
	
	<!-- Insert this line above script imports  -->
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

	<!-- normal script imports etc  -->
	<script src="./assets/js/jquery-3.3.1.min.js" ></script>
	<script src="./assets/bundle.js" ></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Insert this line after script imports -->
	<script>if (window.module) module = window.module;</script>

</body>

</html>