// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=70q0u0kllllaFw0g0qFqFg0w0aF */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #AA6839;	// Main Primary color */
$color-primary-1: #FFCDAA;
$color-primary-2: #D4966A;
$color-primary-3: #804115;
$color-primary-4: #552300;

$color-secondary-1-0: #AA8239;	// Main Secondary color (1) */
$color-secondary-1-1: #FFE1AA;
$color-secondary-1-2: #D4AF6A;
$color-secondary-1-3: #805A15;
$color-secondary-1-4: #553700;

$color-secondary-2-0: #2D4671;	// Main Secondary color (2) */
$color-secondary-2-1: #7689A9;
$color-secondary-2-2: #4D658D;
$color-secondary-2-3: #152C55;
$color-secondary-2-4: #051838;

$color-complement-0: #246B61;	// Main Complement color */
$color-complement-1: #6BA099;
$color-complement-2: #43857C;
$color-complement-3: #0D5047;
$color-complement-4: #00352E;



// As RGBa codes */

$rgba-primary-0: rgba(170,104, 57,1);	// Main Primary color */
$rgba-primary-1: rgba(255,205,170,1);
$rgba-primary-2: rgba(212,150,106,1);
$rgba-primary-3: rgba(128, 65, 21,1);
$rgba-primary-4: rgba( 85, 35,  0,1);

$rgba-secondary-1-0: rgba(170,130, 57,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(255,225,170,1);
$rgba-secondary-1-2: rgba(212,175,106,1);
$rgba-secondary-1-3: rgba(128, 90, 21,1);
$rgba-secondary-1-4: rgba( 85, 55,  0,1);

$rgba-secondary-2-0: rgba( 45, 70,113,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(118,137,169,1);
$rgba-secondary-2-2: rgba( 77,101,141,1);
$rgba-secondary-2-3: rgba( 21, 44, 85,1);
$rgba-secondary-2-4: rgba(  5, 24, 56,1);

$rgba-complement-0: rgba( 36,107, 97,1);	// Main Complement color */
$rgba-complement-1: rgba(107,160,153,1);
$rgba-complement-2: rgba( 67,133,124,1);
$rgba-complement-3: rgba( 13, 80, 71,1);
$rgba-complement-4: rgba(  0, 53, 46,1);



// Generated by Paletton.com Â© 2002-2014 */
// http://paletton.com */




body {
    font-family: 'Duru Sans';
    font-size: 16px;
    background-color: #202020;
}

.top {
    height: 100px;
    border-style: solid;
    border-width: 0px;
    padding: 0px;
    //background-color: $rgba-primary-0;
    color: $color-primary-0;
}

.top img {
    height: 100px;
    float: left;
    margin-left: 10px;
}

.top h1 {
    margin-top: 0px;
    margin-left: 10px;
    text-decoration: underline;
}

.item1 { grid-area: header; }
.item2 { 
	grid-area: menu; 
    background-color: $rgba-secondary-1-0;
}
.item3 { 
	grid-area: main; 
    background-color: $rgba-secondary-2-1;
}
.item4 { 
	grid-area: right; 
    background-color: $rgba-secondary-1-0;
}
.item5 { 
	grid-area: footer; 
    background-color: $rgba-secondary-2-0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 1px;
  padding: 1px;
}
.grid-container > div {
  text-align: left;
  padding: 0px 0;
}
